@model IEnumerable<EHotelServices.Models.UslugaView>

@{
    ViewBag.Title = "ZahtevaneUsluge";
}

<h2>Zahtevane usluge</h2>


<table class="table" style="background-color:aliceblue; opacity:0.8">
    <tr style="color:darkred">
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZaposleniUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GostUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajanje)
        </th>
        <th>
            @Html.Label("Prihvacena")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="color:black">
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZaposleniUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GostUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prihvacena)
            </td>
            <td>
                @Html.ActionLink("Otkazi", "OtkaziUslugu", new { id = item.UslugaId })
            </td>

        </tr>
    }

</table>
