@model IEnumerable<EHotelServices.Models.Hotel>

@{
    ViewBag.Title = "ViewZaGosta";
}

<h3>
@Html.ActionLink("Profil","Profil")
</h3>

<h2>Hoteli</h2>


<table class="table" style="background-color:aliceblue; opacity:0.8">
    <tr style="color:darkred">
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokacija)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:black">
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lokacija)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            
               <img src="@Url.Content(item.Slika)" width="100" height="100" /> 
            
        </td>
        <td>
            @Html.ActionLink("Prikazi usluge","UslugeZaGosta", new { pib = item.PibHotela })
        </td>
        
    </tr>
}

</table>
